$font: 'Source Sans Pro', sans-serif;
$font2: 'Fresca', sans-serif;

$bgBodyColor: #21232e;
$bgButtonColor: #e3ac00;
$bgBlockColor: #3b3f50;
$bgBanner: linear-gradient(to right, #e0a703, #98354e);

$shadowBlockColor: #20222c;

$bodyFontSize: 14px;
$headerImage: url(../img/m-h-night.jpg);

$textColor: #ffffff;
$textColor2: #c0c3ce;
$textHeadColor: #ffffff;
$highligtColor: #ff4e33;
$link: #ffffff;