$font: 'Source Sans Pro', sans-serif;
$font2: 'Hind', sans-serif;

$bgBodyColor: #ffffff;
$bgButtonColor: #699900;
$bgBlockColor: #21232e;
$bgBanner: linear-gradient(to right, #649413, #2f5dd0);

$shadowBlockColor: #e0e0e0;

$bodyFontSize: 14px;
$headerImage: url(../img/m-h-day.jpg);

$textColor: #2c2f3c;
$textColor2: #c0c3ce;
$textHeadColor: #ffffff;
$highligtColor: #14a0c7;
$link: #ffffff;
